@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  min-width: 375px;
  width: 100vw;
  height: 100vh;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}


.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.wrapper {
  background: url(../images/bg-hero-mobile.svg) no-repeat 
    rgb(237, 255, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

nav img {
  width: 10rem;
}

nav .btn-try {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--footer);
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0.1rem 0.1rem 1rem var(--paragraph);
  width: 9.2rem;
  height: 2.6rem;
  font-size: 1.2rem;
  font-weight: 700;
}

nav .btn-try:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hero .container .inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
}

.hero .container .inf .info-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 6.8rem;
  margin-bottom: 3.6rem;
}

.hero .container .inf h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  color: var(--footer);
  width: 25rem;
}

.hero .container .inf p {
  width: 25rem;
}

.btn-get-start {
  width: 25rem;
  padding-block: 1.2rem;
  background-color: var(--button);
  font-size: 1.2rem; 
  font-weight: 700;
  color: #ffffff;
  border-radius: 2.4rem;
}

.btn-get-start:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hero .container .inf img {
  width: 80%;
}

.hero-content-illustration {
  margin-top: 5.2rem;
  margin-bottom: 3.8rem;
}

.services {
  background-color: white;
  padding-top: 5.2rem;
  padding-bottom: 6rem;
}

.card {
  padding-block: 4rem;
  background-color: white;
  margin-inline: 2rem;
  margin-bottom: 4rem;
  border-radius: 1.6rem;
  box-shadow: 0px 0px 4px 2px rgba(191, 191, 191, 0.25);
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4.8rem;
  margin-inline: 3.8rem;
}

.card-image img {
  width: 75%;
  margin: 2rem auto 0;
}

.card-content p {
  font-size: 1.4rem;
  color: var(--paragraph)

}